<h2>Admin Dashboard</h2>
<hr>

<h4><%= t('payment_methods') %></h4>

<p>
  <%= link_to  t('.pix_methods'), pix_methods_path %>
</p>

<p>
  <%= link_to  t('.card_methods'), card_methods_path %>
</p>

<p>
  <%= link_to  t('.billet_methods'), billet_methods_path %>
</p>
