<%= render "workers/shared/error_messages", resource: @payment_method %>

<h4><%= t('.edit_payment_method') %></h4>

<%= link_to  t('back'), workers_payment_methods_path %>

<%= render "#{params[:type]}_form", payment_method: @payment_method %>