<div class="container">
  <p><%= link_to t('back'), card_methods_path, class:"btn btn-outline-primary" %></p>

  <h3><%= t('.edit_card') %></h3>

  <%= render 'shared/errors', object: @card_method %>

  <%= render 'form', card_method: @card_method %>
</div>