<div class="container">
  <p><%= link_to t('back'), billet_methods_path, class:"btn btn-outline-primary" %></p>

  <h3><%= t('.edit_billet') %></h3>

  <%= render 'shared/errors', object: @billet_method %>

  <%= render 'form', billet_method: @billet_method %>
</div>