<div class="container">

  <p><%= link_to t('back'), products_path, class:"btn btn-outline-primary"%></p>

  <h4><%= t('.add_product') %></h4>

  <%= render 'shared/errors', object: @product %>

  <%= render 'form', product: @product %>

</div>
